<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artes 2 Ano</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body style="background: linear-gradient(to right, #ffffff, #c0bbbb);">
    <div class="back">
        <a href="/" class="logo">LOGO</a> 
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>

    <h1 style="margin-left: 0px;font-family: 'Montserrat', sans-serif;font-weight: 900;margin-top: -20px;font-size: 80px;" class="main-title">Estudaí - 2° Ano</h1>
    <p style="margin-left: -40px;font-weight: bold; font-weight: 900;font-size: 25px;height: 10px;margin-top: -15px" class="subtitle">Conteúdos - Artes</p>

    

    <div class="flashcards-container">
    <div class="flashcard">
        <h3>1 - MÚSICA FUTURISTA</h3>
        <p style="margin-top: 20px; font-size: 18px;">
            Estudo do movimento artístico-musical que, no início do século XX, valorizou os sons das máquinas e da vida urbana como elementos de composição, desafiando padrões tradicionais.
        </p>
    </div>

    <div class="flashcard">
        <h3>2 - MÚSICA CONCRETA</h3>
        <p style="font-size: 18px;margin-top: 15px;">
            Análise da proposta surgida na década de 1940, baseada na manipulação de sons gravados (ruídos, vozes, sons cotidianos), que abriu caminho para a música eletrônica.
        </p>
    </div>

    <div class="flashcard">
        <h3>3 - LINGUAGEM DO CORPO</h3>
        <p style="font-size: 18px; margin-top: 20px;">
            Reflexão sobre a dança como expressão estética, cultural e social, capaz de comunicar ideias e emoções.
        </p>
    </div>
</div>

<a style="width: 350px; padding: 5;margin-bottom: -20px;margin-top: 50px;" href="/conteudos"class="contend">VOLTAR A TELA</a>



    
</body>
</html>