<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='lg.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sociologia 2 Ano</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body style="background: linear-gradient(to right, #ffffff, #c0bbbb);">
    <div class="back">
        <a href="/">
            <img src="{{ url_for('static', filename='logoE.png') }}" alt="Logo Estudaí" class="logo" width="60" height="70">
        </a>
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>

    <h1 style="margin-left: 0px;font-family: 'Montserrat', sans-serif;font-weight: 900;margin-top: -20px;font-size: 80px;" class="main-title">Estudaí - 2° Ano</h1>
    <p style="margin-left: -40px;font-weight: bold; font-weight: 900;font-size: 25px;height: 10px;margin-top: -15px" class="subtitle">Conteúdos - Historia</p>

    

    <div class="flashcards-container">
    <div class="flashcard">
        <h3>1 - O ESTADO MODERNO</h3>
        <p style="margin-top: 20px; font-size: 18px;">
            Instituição centralizadora que organiza a vida social e regula conflitos.

        </p>
    </div>

    <div class="flashcard">
        <h3>2 - PODER POLITICO </h3>
        <p style="font-size: 18px;margin-top: 15px;">
            Diferentes formas de exercício do poder (tradicional, carismático e racional-legal).

        </p>
    </div>

    <div class="flashcard">
        <h3>3 -INTITUIÇOES POLITICAS</h3>
        <p style="font-size: 18px; margin-top: 20px;">
            Estruturas como parlamento, executivo e judiciário que sustentam a democracia.
        </p>
    </div>
</div>

<a style="width: 350px; padding: 5;margin-bottom: -20px;margin-top: 50px;" href="/conteudos"class="contend">VOLTAR A TELA</a>



    
</body>
</html>