<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematica 1 Ano</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body style="background: linear-gradient(to right, #ffffff, #c0bbbb);">
    <div class="back">
        <a href="/" class="logo">LOGO</a> 
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>

    <h1 style="margin-left: 0px;font-family: 'Montserrat', sans-serif;font-weight: 900;margin-top: -20px;font-size: 80px;" class="main-title">Estudaí - 1° Ano</h1>
    <p style="margin-left: -40px;font-weight: bold; font-weight: 900;font-size: 25px;height: 10px;margin-top: -15px" class="subtitle">Conteúdos - Língua Inglesa</p>

    

    <div class="flashcards-container">
    <div class="flashcard">
        <h3 style="margin-top: -5px;">1 - Potências de expoente de número inteiro</h3>
        <p style="margin-top: 20px; font-size: 18px;">
          Estudo das propriedades das potências de base real com expoente inteiro, incluindo casos de expoente negativo e zero, aplicadas em simplificações algébricas e expressões numéricas.
        </p>
    </div>

    <div class="flashcard">
        <h3 style="margin-top: -5px;">2 - Potências de expoente racional</h3>
        <p style="font-size: 17px;margin-top: 20px;">
            Ampliação do conceito de potência para expoentes fracionários, possibilitando a definição de radicais e a generalização de operações algébricas.


        </p>
    </div>

    <div class="flashcard">
        <h3  style="margin-top: -10px;">3 -Técnicas algébricas</h3>
        <p style="font-size: 18px;margin-top: 25px;">
            Conjunto de procedimentos como fatoração, produtos notáveis e manipulações algébricas, indispensáveis para a resolução de equações e simplificação de expressões.
        </p>
    </div>
</div>

<a style="width: 350px; padding: 5;margin-bottom: -20px;margin-top: 50px;" href="/conteudos"class="contend">VOLTAR A TELA</a>



    
</body>
</html>