<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arte 3 Ano</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body style="background: linear-gradient(to right, #ffffff, #c0bbbb);">
    <div class="back">
        <a href="/" class="logo">LOGO</a> 
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>

    <h1 style="margin-left: 0px;font-family: 'Montserrat', sans-serif;font-weight: 900;margin-top: -20px;font-size: 80px;" class="main-title">Estudaí - 3° Ano</h1>
    <p style="margin-left: -40px;font-weight: bold; font-weight: 900;font-size: 25px;height: 10px;margin-top: -15px" class="subtitle">Conteúdos - Artes</p>

    

    <div class="flashcards-container">
    <div class="flashcard">
        <h3>1 - CUBISMO</h3>
        <p style="margin-top: 20px; font-size: 17px;">
            Movimento artístico que rompeu com a perspectiva tradicional, apresentando os objetos de forma fragmentada e sob múltiplos ângulos. Inovador, marcou a arte do século XX.

        </p>
    </div>

    <div class="flashcard">
        <h3>2 - FUTURISMO</h3>
        <p style="font-size: 17px;margin-top: 10px;">
            Estética que celebrava a velocidade, a tecnologia e as máquinas como símbolos da modernidade. Representava o espírito urbano e industrial em ascensão.
    </div>

    <div class="flashcard">
        <h3>3 - DADAISMO</h3>
        <p style="font-size: 18px;margin-top: 10px;">
            Movimento de vanguarda nascido em resposta à Primeira Guerra Mundial, caracterizado pela crítica às instituições e pela valorização do absurdo e da irreverência artística.

        </p>
    </div>
</div>

<a style="width: 350px; padding: 5;margin-bottom: -20px;margin-top: 50px;" href="/conteudos"class="contend">VOLTAR A TELA</a>



    
</body>
</html>