<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educação Fisica 3 Ano</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<link rel="icon" href="{{ url_for('static', filename='lg.ico') }}" type="image/x-icon">
<body style="background: linear-gradient(to right, #ffffff, #c0bbbb);">
    <div class="back">
        <a href="/">
            <img src="{{ url_for('static', filename='logoE.png') }}" alt="Logo Estudaí" class="logo" width="60" height="70">
        </a>
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>

    <h1 style="margin-left: 0px;font-family: 'Montserrat', sans-serif;font-weight: 900;margin-top: -20px;font-size: 80px;" class="main-title">Estudaí - 3° Ano</h1>
    <p style="margin-left: -40px;font-weight: bold; font-weight: 900;font-size: 25px;height: 10px;margin-top: -15px" class="subtitle">Conteúdos - Educação Fisica</p>

    

    <div class="flashcards-container">
    <div class="flashcard">
        <h3>1 - ATIVIDADE FISICA E QUALIDADE DE VIDA</h3>
        <p style="margin-top: 20px; font-size: 17px;">
            Estudo da relação entre exercício físico regular, saúde física e bem-estar mental. A prática adequada ajuda na prevenção de doenças, no controle do estresse e na melhoria da disposição cotidiana.

        </p>
    </div>

    <div class="flashcard">
        <h3>2 - EXERCICIOS DE CONDICIONAMENTO</h3>
        <p style="font-size: 17px;margin-top: 10px;">
            Análise das capacidades físicas (força, resistência, flexibilidade, coordenação e velocidade) e de como o treinamento sistemático pode aprimorar cada uma delas.
    </div>

    <div class="flashcard">
        <h3>3 - PREVENÇÂO DE LESÔES</h3>
        <p style="font-size: 18px;margin-top: 10px;">
            Reflexão sobre cuidados básicos, como aquecimento, alongamento, hidratação e repouso, que reduzem os riscos durante a prática de atividades físicas.
        </p>
    </div>
</div>

<a style="width: 350px; padding: 5;margin-bottom: -20px;margin-top: 50px;" href="/conteudos"class="contend">VOLTAR A TELA</a>



    
</body>
</html>