<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Língua Inglesa 3 Ano</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body style="background: linear-gradient(to right, #ffffff, #c0bbbb);">
    <div class="back">
        <a href="/" class="logo">LOGO</a> 
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>

    <h1 style="margin-left: 0px;font-family: 'Montserrat', sans-serif;font-weight: 900;margin-top: -20px;font-size: 80px;" class="main-title">Estudaí - 3° Ano</h1>
    <p style="margin-left: -40px;font-weight: bold; font-weight: 900;font-size: 25px;height: 10px;margin-top: -15px" class="subtitle">Conteúdos - Língua Inglesa</p>

    

    <div class="flashcards-container">
    <div class="flashcard">
        <h3>1 - REVISÂO DOS TEMPOS VERBAIS</h3>
        <p style="margin-top: 20px; font-size: 18px;">
            Consolidação do uso correto dos tempos verbais no inglês, incluindo simple, continuous, perfect e perfect continuous. Esse estudo aprofunda as diferenças de uso em contextos formais e informais, essenciais para a produção de textos coerentes e precisos.

        </p>
    </div>

    <div class="flashcard">
        <h3>2 - CONDITIONALS (0, 1st, 2nd, 3rd)</h3>
        <p style="font-size: 18px;margin-top: 15px;">
            Estruturas que expressam hipóteses de diferentes naturezas: verdades universais (zero), possibilidades futuras (primeiro), situações improváveis (segundo) e condições irreais no passado (terceiro). São fundamentais para a comunicação mais elaborada.
    </div>

    <div class="flashcard">
        <h3>3 - PASIVE VOICE</h3>
        <p style="font-size: 18px;">
            Uso da voz passiva para enfatizar a ação ou o resultado, e não o agente. Muito comum em textos acadêmicos, científicos e jornalísticos, é trabalhada em diversos tempos verbais e ajuda a desenvolver um estilo mais formal e objetivo.

    </div>
</div>

<a style="width: 350px; padding: 5;margin-bottom: -20px;margin-top: 50px;" href="/conteudos"class="contend">VOLTAR A TELA</a>



    
</body>
</html>