<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='lg.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematica 3 Ano</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>

<body style="background: linear-gradient(to right, #ffffff, #c0bbbb);">
    <div class="back">
        <a href="/">
            <img src="{{ url_for('static', filename='logoE.png') }}" alt="Logo Estudaí" class="logo" width="60" height="70">
        </a> 
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>

    <h1 style="margin-left: 0px;font-family: 'Montserrat', sans-serif;font-weight: 900;margin-top: -20px;font-size: 80px;" class="main-title">Estudaí - 3° Ano</h1>
    <p style="margin-left: -40px;font-weight: bold; font-weight: 900;font-size: 25px;height: 10px;margin-top: -15px" class="subtitle">Conteúdos - Matematica</p>

    

    <div class="flashcards-container">
    <div class="flashcard">
        <h3>1 - FUNÇÔES POLINOMIAIS </h3>
        <p style="margin-top: 20px; font-size: 18px;">
            Estudo de funções definidas por polinômios, como quadráticas e cúbicas. Esse conteúdo aprofunda a análise de gráficos, raízes, crescimento e decrescimento, oferecendo base para a resolução de problemas algébricos e aplicações em situações reais.

        </p>
    </div>

    <div class="flashcard">
        <h3>2 - FUNÇÔES EXPONENCIAIS E LOGATIMICAS </h3>
        <p style="font-size: 18px;margin-top: 15px;">
            Investigação das funções que envolvem crescimento e decaimento em progressão acelerada ou reduzida. São fundamentais para compreender fenômenos naturais (como crescimento populacional e radioatividade) e processos econômicos (como juros compostos).
    </div>

    <div class="flashcard">
        <h3>3 - PROGRESSÔES ARITMETICAS E GEOMETRICAS  </h3>
        <p style="font-size: 18px;margin-top: 10px;">
            Estudo das sequências numéricas em que os termos seguem uma lógica de soma constante (PA) ou de multiplicação constante (PG). Essas progressões são aplicadas em problemas de previsão, estatística e finanças.

    </div>
</div>

<a style="width: 350px; padding: 5;margin-bottom: -20px;margin-top: 50px;" href="/conteudos"class="contend">VOLTAR A TELA</a>



    
</body>
</html>