<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='lg.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portugues 3 Ano</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>

<body style="background: linear-gradient(to right, #ffffff, #c0bbbb);">
    <div class="back">
        <a href="/">
            <img src="{{ url_for('static', filename='logoE.png') }}" alt="Logo Estudaí" class="logo" width="60" height="70">
        </a>
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>

    <h1 style="margin-left: 0px;font-family: 'Montserrat', sans-serif;font-weight: 900;margin-top: -20px;font-size: 80px;" class="main-title">Estudaí - 3° Ano</h1>
    <p style="margin-left: -40px;font-weight: bold; font-weight: 900;font-size: 25px;height: 10px;margin-top: -15px" class="subtitle">Conteúdos - Língua Portuguesa</p>

    

    <div class="flashcards-container">
    <div class="flashcard">
        <h3>1 - COESÂO E COERENCIA</h3>
        <p style="margin-top: 20px; font-size: 17px;">
            A coesão corresponde aos mecanismos linguísticos que conectam palavras, frases e parágrafos, como pronomes, conjunções e advérbios; já a coerência está relacionada à lógica interna do texto, garantindo progressão de ideias e sentido global. Juntas, são essenciais para a clareza e eficácia da comunicação escrita e oral.

        </p>
    </div>

    <div class="flashcard">
        <h3>2 - ARGUMENTAÇÂO E DISCURSO</h3>
        <p style="font-size: 17px;margin-top: 10px;">
            Estudo das técnicas de organização textual que permitem defender pontos de vista, por meio de tese, argumentos, exemplos e contra-argumentos. Esse conteúdo aprofunda o papel do discurso persuasivo em diferentes gêneros, como artigos de opinião e ensaios, destacando sua importância no exercício da cidadania.
        </p>
    </div>

    <div class="flashcard">
        <h3>3 - FIGURAS DE LINGUAGEM</h3>
        <p style="font-size: 18px;margin-top: 10px;">
            Análise dos recursos expressivos que enriquecem o texto literário e não literário. Incluem metáforas, comparações, hipérboles, metonímias e aliterações, que não apenas embelezam a linguagem, mas também intensificam significados e despertam efeitos estéticos.
        </p>
    </div>
</div>

<a style="width: 350px; padding: 5;margin-bottom: -20px;margin-top: 50px;" href="/conteudos"class="contend">VOLTAR A TELA</a>



    
</body>
</html>