<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" href="{{ url_for('static', filename='lg.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudaí - 3° Ano</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>

<body style="background: linear-gradient(to right, #ffffff, #c0bbbb);">

    <div class="back">
        <a href="/">
            <img src="{{ url_for('static', filename='logoE.png') }}" alt="Logo Estudaí" class="logo" width="60" height="70">
        </a>
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>


    <h1 style="margin-left: 0px;font-family: 'Montserrat', sans-serif;font-weight: 900;margin-top: -20px;font-size: 80px;" class="main-title">Estudaí - 3° Ano</h1>
    <p style="margin-left: -40px;font-weight: bold;" class="subtitle">CONTEÚDOS</p>

    <div style="padding-left: 10px; margin-top: 20px;">

        <h3 style="margin-left: 100px;font-weight: 900;font-weight: bold;font-family: 'Montserrat', sans-serif;">•  LINGUAGENS E SUAS TECNOLOGIAS</h3>
        <div class="subject-buttons-container">
            <a style="height: 10px;width: 180px;" href="/Portugues_3Ano" class="subject-button">LÍNGUA PORTUGUESA</a>
            <a style="height: 10px;width: 180px;text-decoration: none;" href="/Ingles_3Ano" class="subject-button">LÍNGUA INGLESA</a>
            <a style="height: 10px;width: 180px;text-decoration: none;" href="/Educação_Fisica_3Ano" class="subject-button">EDUCAÇÃO FÍSICA</a>
            <a style="height: 10px;width: 180px;text-decoration: none;" href="/Artes_3Ano" class="subject-button">ARTES</a>
        </div>

        <h3>• MATEMÁTICA E SUAS TECNOLOGIAS</h3>
        <div class="subject-buttons-container">
            <a href="/Matematica_3Ano" class="subject-button">MATEMÁTICA</a>
        </div>

        <h3>• CIÊNCIAS DA NATUREZA E SUAS TECNOLOGIAS</h3>
        <div class="subject-buttons-container">
            <a href="/Fisica_3Ano" class="subject-button">FÍSICA</a>
            <a href="/Quimica_3Ano" class="subject-button">QUÍMICA</a>
            <a href="/Biologia_3Ano" class="subject-button">BIOLOGIA</a>
        </div>
        
        <h3>• CIÊNCIAS HUMANAS E SOCIAIS APLICADAS</h3>
        <div class="subject-buttons-container">
            <a href="/Historia_3Ano" class="subject-button">HISTÓRIA</a>
            <a href="/Geografia_3Ano" class="subject-button">GEOGRAFIA</a>
            <a href="/Sociologia_3Ano" class="subject-button">SOCIOLOGIA</a>
            <a href="/Filosofia_3Ano" class="subject-button">FILOSOFIA</a>
        </div>

    </div>

</body>
</html>