<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='lg.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog ESTUDAÍ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>

<body>

    <div class="back">
        <a href="/">
            <img src="{{ url_for('static', filename='logoE.png') }}" alt="Logo Estudaí" class="logo" width="60" height="70">
        </a>
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>

    <h1 style="font-size: 60px;font-weight: 900;font-family: 'Montserrat', sans-serif;" class="center"> 🚀 Do Ensino Público para o Mundo da Tecnologia: Conheça o 'Estudaí' e a Jornada dos Alunos na FECIBA 2025 </h1>
    <img style="width: 800px;height: 450px; margin-left: 300px;margin-top: 40px;" src="../static/logo.png" alt="Nao Carregou">
    
    <p style="font-weight: 400;font-size: 30px; margin-left: 40px;margin-right: 40px;margin-top: 30px;  line-height: 1.5;margin-bottom: 20px;font-family: 'Montserrat'">   A matemática é, para muitos estudantes, um verdadeiro desafio.<br> Dados da plataforma Plurall mostraram lacunas significativas na aprendizagem da disciplina entre os alunos do CETEP de Medeiros Neto, no interior da Bahia.<br> Mas em vez de ver isso como um obstáculo, dois estudantes enxergaram uma oportunidade.<br> Com base nessa dificuldade, eles criaram uma solução digital inovadora: o aplicativo “Estudaí”. </p>
    <h2 style="font-size: 35px;font-weight: 700;font-weight: bold;font-family: 'Montserrat';margin-top: 50px;background-color: burlywood;text-align: center;border-radius: 30px;display: inline-block;padding: 5px;">Por Trás do Código: Como o 'Estudaí' foi Criado</h2>
    <p style="font-weight: 400;font-size: 30px; margin-left: 40px;margin-right: 10px;font-family: 'Montserrat'">O "Estudaí" não é apenas um aplicativo; é um exemplo de protagonismo juvenil.<br> Desenvolvido pelos estudantes Carlos Eduardo Santos e Guilherme Lobê, do 2º ano do Ensino Médio, o projeto nasceu de uma necessidade real.<br> 
    Com a orientação do professor Daniel Queiroz, eles usaram a linguagem de programação Python para construir um recurso digital acessível e prático,<br> pensado especificamente para a realidade das escolas públicas. O objetivo?<br> Ajudar a si mesmos e a outros colegas a revisarem conteúdos, focando na matemática de um jeito mais fácil e dinâmico.</p>
    <h2 style="font-size: 35px;font-weight: 700;font-weight: bold;font-family: 'Montserrat';margin-top: 50px;background-color: burlywood;text-align: center;border-radius: 30px;display: inline-block;padding: 5px;">Impacto e Futuro: Educação Pública com Propósito</h2>
    <p style="font-weight: 400;font-size: 30px; margin-left: 40px;margin-right: 10px;font-family: 'Montserrat'">A história do "Estudaí" e de seus criadores é a prova de que a educação pública tem um potencial transformador imenso.<br> O projeto não só resolve um problema acadêmico, mas também fortalece a confiança e a capacidade dos alunos em criar suas próprias soluções.<br>
     É um lembrete poderoso de que, com o apoio certo, o protagonismo e a criatividade dos estudantes<br> podem gerar inovações que impactam positivamente toda a comunidade. Esse é o verdadeiro propósito da educação: capacitar e inspirar para a transformação.</p>
    <h2 style="font-size: 35px;font-weight: 700;font-weight: bold;font-family: 'Montserrat';margin-top: 50px;background-color: burlywood;text-align: center;border-radius: 30px;display: inline-block;padding: 5px;">De Alunos a Desenvolvedores: A Jornada de Carlos Eduardo e Guilherme</h2>
    <img style="width: 600px;height: 450px; margin-left: 300px;" src="../static/alunos1.png.jpeg" alt="Nao Carregou">
    
    <p style="font-weight: 400;font-size: 30px; margin-left: 40px;margin-right: 10px;font-family: 'Montserrat'">A história do “Estudaí” é inseparável da jornada de seus criadores.<br> Carlos Eduardo Santos e Guilherme Lobê não eram apenas estudantes em busca de uma boa nota; eles se tornaram desenvolvedores e inovadores ao identificar uma necessidade real e criar uma solução.<br> A experiência com a plataforma Plurall foi o ponto de partida, mostrando que o conhecimento das dificuldades de seus colegas era o combustível perfeito para a criatividade.<br>
     Ao dominar a linguagem Python e trabalhar incansavelmente, eles transformaram uma ideia em um projeto concreto, demonstrando que a paixão e o esforço podem superar as dificuldades e levar a grandes conquistas.<br> A participação na FECIBA não foi apenas sobre exibir um aplicativo, mas sobre a ascensão de dois jovens talentos que saíram do banco escolar para apresentar um projeto com potencial de mudar a realidade de muitos.</p>
</body>
</html> 