<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog ESTUDAÍ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <h1 class="center"> 🚀 BLOG DO ESTUDAÍ </h1>
    <p>  📚✨  Estudaí é o nome do projeto desenvolvido e apresentado pelos estudantes Carlos Eduardo Santos e Guilherme Lobê, do 2º ano do Ensino Médio Integral do CETEP de Medeiros Neto, na FECIBA 2025. </p>
<button onclick="window.location.href='http://127.0.0.1:5000/'">
    ⚡  Ir para Tela Inicial
</button>

<div  class="img">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus accusantium modi debitis sed aperiam deleniti explicabo consectetur, sapiente repellat minus a necessitatibus, ad, cumque culpa officia at. Quaerat, voluptatum quasi!</p>
    
</div>

</body>
</html>