<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteudos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <div class="back">
        <h1  class="logo" >LOGO  </h1> 
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>

    <h1 class="estudai">Estudaí</h1>
    <h2 class="materias">MATÉRIAS</h2>

    <div style="margin-top: -50px" class="botoes-containerC">
        <a style="margin-left: 300px; height: -10px;text-decoration: none;" href="/conteudos_1" class="botaoANO">CONTEUDOS 1° ANO</a>
        <p style="margin-left: 5px;" class="botaoANO">CONTEÚDOS DO 2° ANO</p>
        <p style="margin-left: 5px;" class="botaoANO">CONTEÚDOS DO 3° ANO</p>
        
    </div>
    
    <a style="width: 350px; padding: 5;" href="/" class="contend">VOLTAR A TELA</a>
</body>
</html>