<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fisica 1 Ano</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body style="background: linear-gradient(to right, #ffffff, #c0bbbb);">
    <div class="back">
        <a href="/" class="logo">LOGO</a> 
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>

    <h1 style="margin-left: 0px;font-family: 'Montserrat', sans-serif;font-weight: 900;margin-top: -20px;font-size: 80px;" class="main-title">Estudaí - 1° Ano</h1>
    <p style="margin-left: -40px;font-weight: bold; font-weight: 900;font-size: 25px;height: 10px;margin-top: -15px" class="subtitle">Conteúdos - Língua Inglesa</p>

    

    <div class="flashcards-container">
    <div class="flashcard">
        <h3 style="margin-top: -5px;">1 - A origem do Universo: a mitologia e o método científico</h3>
        <p style="margin-top: 20px; font-size: 18px;">
           Estudo das primeiras explicações míticas sobre a origem do cosmos e da transição para uma abordagem científica, baseada na observação, experimentação e raciocínio lógico.
        </p>
    </div>

    <div class="flashcard">
        <h3 style="margin-top: -5px;">2 - Interações entre corpos: causas e efeitos</h3>
        <p style="font-size: 17px;margin-top: 20px;">
            Análise das forças como agentes que modificam o estado de movimento dos corpos, estabelecendo relações de ação e reação.

        </p>
    </div>

    <div class="flashcard">
        <h3  style="margin-top: -10px;">3 - O conceito de resultante e como obtê-la</h3>
        <p style="font-size: 18px;">
            Compreensão da força resultante como a soma vetorial das forças aplicadas a um corpo, determinando sua aceleração.
        </p>
    </div>
</div>

<a style="width: 350px; padding: 5;margin-bottom: -20px;margin-top: 50px;" href="/conteudos"class="contend">VOLTAR A TELA</a>



    
</body>
</html>