<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='lg.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTUDAÍ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">

</head>

<body>

    
    <div class="back">
        <a href="/">
            <img src="{{ url_for('static', filename='logoE.png') }}" alt="Logo Estudaí" class="logo" width="60" height="70">
        </a>
        <a style=" text-decoration: none; color: black; font: bold;font-size: 30px;" class="login" href="/">Login</a>
        <a style=" text-decoration: none; color: black; font-family: 'Montserrat', sans-serif;" class="registrar" href="/">Registrar</a>
        <a style=" text-decoration: none; color: black;" class="como" href="/">Como Funciona?</a>    
        <a style=" text-decoration: none; color: black;" class="conteudos" href="/">Login/Registrar</a>
        <a style=" text-decoration: none; color: black;" class="suporte" href="/">Suporte</a>
    </div>

    <h1 class="estuda">Estudaí</h1>
    <h2 class="revisao">Revisão Inteligente na Palma da sua Mão</h2>

    <div class="botoes-container"><a href=""></a>
    <div><a style="font-size: 20px; align-content: center; " href="/conteudos" class="contend">CONTEÚDOS </a></div>
    <a style="margin: 10px auto;font-size: 18px; align-content: center;" href="/blog" class="contend">SABER MAIS SOBRE</a>
    

<div class="img">
    <img  src="/static/4.png" class="foto f4">
    <img  src="/static/2.png" class="foto f2">
    <img  src="/static/3.png" class="foto f3">
</div>


</body>
</html>
