<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portugues 1 Ano</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body style="background: linear-gradient(to right, #ffffff, #c0bbbb);">
    <div class="back">
        <a href="/" class="logo">LOGO</a> 
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>

    <h1 style="margin-left: 0px;font-family: 'Montserrat', sans-serif;font-weight: 900;margin-top: -20px;font-size: 80px;" class="main-title">Estudaí - 1° Ano</h1>
    <p style="margin-left: -40px;font-weight: bold; font-weight: 900;font-size: 25px;height: 10px;margin-top: -15px" class="subtitle">Conteúdos - Língua Portuguesa</p>

    

    <div class="flashcards-container">
    <div class="flashcard">
        <h3>1 - FATORES DE TEXTUALIDADE</h3>
        <p style="margin-top: 20px; font-size: 18px;">
            Conjunto de princípios que asseguram a unidade e a inteligibilidade do texto,
            como coesão, coerência, intencionalidade, entre outros.
        </p>
    </div>

    <div class="flashcard">
        <h3>2 - PROGRESSÃO TEXTUAL: A COESÃO</h3>
        <p style="font-size: 18px;">
            Estabelecimento de vínculos formais entre elementos linguísticos por meio
            de conectores, pronomes e mecanismos de retomada.
        </p>
    </div>

    <div class="flashcard">
        <h3>3 - PROGRESSÃO TEXTUAL: A COERÊNCIA</h3>
        <p style="font-size: 18px;">
            Organização lógica e semântica que confere continuidade e sentido global ao discurso.
        </p>
    </div>
</div>

<a style="width: 350px; padding: 5;margin-bottom: -20px;margin-top: 50px;" href="/"class="contend">VOLTAR A TELA</a>



    
</body>
</html>