<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='lg.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTUDAÍ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">

</head>

<body>

    
    <div class="back">
        <a href="/">
            <img src="{{ url_for('static', filename='logoE.png') }}" alt="Logo Estudaí" class="logo" width="60" height="70">
        </a>
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>

    <h1 class="estuda">Estudaí</h1>

    <h2 class="revisao">Revisão Inteligente na Palma da sua Mão</h2>

    <div class="botoes-container"><a href=""></a>
    <div><a href="/conteudos" class="contend">CONTEUDOS</a></div>
    <a style="margin: 10px auto;font-size: 18px;" href="/blog" class="contend">SABER MAIS SOBRE</a>
    
    
<div class="img">
    <img  src="/static/4.png" class="foto f4">
    <img  src="/static/2.png" class="foto f2">
    <img  src="/static/3.png" class="foto f3">
</div>

    
</body>
</html>