<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTUDAÍ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">

</head>
<body>

    
    <div class="back">
        <h1  class="logo" >LOGO  </h1> 
        <p class="login" >Login</p>
        <p class="registrar">Registar</p>
        <p class="como ">Como Funciona?</p>
        <p class="conteudos">Login/Registrar</p>
        <p class="suporte">Suporte</p>
    </div>

    <h1 class="estuda">Estudaí</h1>

    <h2 class="revisao">Revisão Inteligente na Palma da sua Mão</h2>

    <div class="botoes-container">
    <div class="botao">CONTEUDOS</div>
    <div class="botao" style="margin-top: 10px;">SABER MAIS SOBRE</div>
    </div>
    
</body>
</html>